<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Jamie Oliver - Contact</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
<!-- use the CSS at public/css/style.css -->
<link rel="stylesheet" href="/css/style.css">

  </head>
  <body>
    <div class="page-header">
    <h1>Contact <small>Jamie Oliver</small></h1>
    <a class="backhome" href="/"> Back to Home </a>
  </div>

    <div class="contacttext"> At Jamie's Italian we work hard to ensure that every customer's
      experience is a positive and memorable one. <br>Our aim has always been
      to create a fantastic environment where anybody can come and enjoy
      fresh, rustic Italian dishes. <br>We continually look to exceed our
      customers' expectations and we value your feedback.</div>

    <br><br>

      <form action="/action_page.php" method="get">
        First name: <input type="text" name="fname"><br>
        Last name: <input type="text" name="lname"><br>
        E-mailadd: <input type="text" name="email"><br>
        Comment: <input type="text" name="comment"><br>

        <input type="submit" value="Submit">
      </form>

        <br><br>
  <div class="contactinfo">
    <img src="https://www.jamieoliver.com/italian/images/front-end/icons/social/magazine.png">
    <img src="https://www.jamieoliver.com/italian/images/front-end/icons/social/foodtube.png">
    <img src="https://www.jamieoliver.com/italian/images/front-end/icons/social/familyfoodtube.png">
    <img src="https://www.jamieoliver.com/italian/images/front-end/icons/social/facebook.png">
    <img src="https://www.jamieoliver.com/italian/images/front-end/icons/social/instagram.png">
</div>
    <script src="/js/front.js"></script>
  </body>
</html>
