<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title> Jamie Oliver - Home</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <div class="page-header">
    <h1>Jamie Oliver <small class="fanpage"> Fanpage</small> </h1>
    <h4>  <!-- app.get("/about", (...) => -->
    <h5><a href="/about"> About us </a> <a href="/contact"> Contact Us </a></h5>
  </div>

  <div class="jumbotron">
  <div class="container">
  </div>
</div>

  <div class="intro">
    <p>-Intro-</p>
    By the time he was 31, Jamie Oliver had sold millions of cookery books, conquered the US market, opened a restaurant, starred in several TV shows and revolutionised UK school dinners. Responsible for making cooking cool, the energetic
    man, whose cookbooks are bestsellers worldwide, has been voted the sexiest chef on television and his cookery shows are broadcast in over 50 countries.
    <br>
    <br>
    He is the self-proclaimed ambassador for British cooking whose diners include former British Prime
    Minister Tony Blair and Prince Charles. Born in 1975, Jamie developed his fascination for all things food at his parents’ restaurant in Essex. After leaving school he attended the Westminster Catering College, before travelling to France to further
    his skills. On his return he landed the job of head pastry chef for Antonio Carluccio at The Neal Street Restaurant. Jamie’s next move was to the River Café, where he stayed for three and a half years, fine-tuning his skills under the guidance of
    Rose Gray and Ruth Rogers.</div>

    <div class="featured">
      <h1>Highlighted recipes</h1>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="../images/recipe1.jpeg">
          <div class="caption">
            <h3>Cannelloni with beef ragù</h3>
            <p>Peel and finely chop the onion, carrot and 2 cloves of garlic.
               Trim and finely chop the celery. Heat 2 tablespoons of oil in
               a pan over a medium heat, and fry the onion, celery...</p>
            <p><a href="#" class="btn btn-default" role="button">See more</a></p>
          </div>

        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="../images/recipe2.jpeg">
          <div class="caption">
            <h3>Super-Speedy Steamed Salmon</h3>
            <p>“This one-pan wonder is a lifesaver
                when you’re short on time. As well as filling
                you up, the salmon is a source of omega-3 fatty acids,
                which helps keep your heart healthy... ”</p>
            <p><a href="#" class="btn btn-default" role="button">See more</a></p>
          </div>

        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="../images/recipe3.jpeg">
          <div class="caption">
            <h3>Easy Spelt Pizza</h3>
            <p>Preheat the oven to 200ºC/gas 6.
               Combine the flour, baking powder, sea salt and sugar in a bowl.
               Beat the buttermilk, oil, egg and 100ml water together, then
               mix the...</p>
            <p><a href="#" class="btn btn-default" role="button">See more</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="view"> VIEW MORE </div>

  <div class="panel panel-default">
    <div class="panel-body">
      Home
    </div>
    <div class="panel-footer">Copyright -JvdM - IRONHACK- </div>
  </div>

  <script src="/js/front.js"></script>
</body>

</html>
